*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

  /********************************************/
  /********************Font********************/
  /********************************************/

  @font-face {
    font-family: 'ChamBold';
    src: url('./assets/flag/590438/PSLxChamnarnBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Cham';
    src: url('./assets/flag/590438/PSL-Chamnarn Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'legendpower';
    src: url('./assets/flag/590438/legendpower.ttf') format('truetype');
  }

  @font-face {
    font-family: 'compacta';
    src: url('./assets/flag/590438/compacta_mt_bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'matura';
    src: url('./assets/flag/590438/magic power.otf') format('opentype');
  }


    /********************************************/
    /********************************************/
    /********************************************/

#img,#imgchaos,#imghundred{
    border-radius: 20px;
    width: 450px;
    height: 629px;

}
.imbg{
    width: 450px;
    height: 629px;  
}

img{
    width: 100%;
}
.flex{
    display: flex;
}
.absolute{
    position: absolute;
}
.con{
    justify-content: center;
    text-align: center;
}
.con_{
    margin-top: 1rem;
    justify-content: center;
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;

    
}
.con1,.con2{
    justify-items: center;
    width: 550px;
}
.line{
    background-color: #1e1e2e;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.gab-6{
    gap: 6px;
}
p{
    white-space: pre-wrap;
}
.center{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.inline{
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 10px;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}
.linetop{
    background-color: #1e1e2e;
    padding: 1rem 1rem 0.3rem 1rem;
    border-radius:10px 10px 0 0;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.line2{
    background-color: #1e1e2e;
    padding: 0.3rem 1rem 0.3rem 1rem;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.linebot{
    background-color: #1e1e2e;
    padding: 0.3rem 1rem 1rem 1rem;
    border-radius:0 0 10px 10px;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.line3{
    background-color: #c23fd9;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.line_dual{
    background: linear-gradient(40deg, #ff4081, #a855f7, #00a2ff);
    padding: 1rem;
    border-radius: 10px;
    gap: 0.3rem;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 3px rgb(255, 255, 255);
}
#Save,#Import,#Keyword{
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
    border: solid 2px rgb(255, 255, 255);
    color: #fff;
    flex: 1 0 140px;
}
#file-input{
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
}

#Import{
    background-color: rgb(72, 142, 255);
}
#Save{
    background-color: rgb(72, 142, 255);
}
#Keyword{
    background-color: rgb(221, 35, 35);
}

.mt-1{margin-top: 1rem;}

.typecard{
    font-weight: bold;
    color: #fff;
    flex: 1 0 140px;
}
#montype,#worldL,#worldR,#worldMain,#NameASText,#Size,#Attibute,#Name,#Set,#Illust
{
    text-align: center;
    width: 100%;
    flex: 1 0 140px;
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
}
#Effect{
    text-align: start;
    width: 100%;
    flex: 1 0 140px;
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
}
#chaos,#HundredDemon,#NameAs,#SP{
    text-align: center;
    width: 100%;
    flex: 1 0 140px;
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
}
#ATK,#CRI,#DEF{
    text-align: center;
    width: 100%;
    flex: 1 0 130px;
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
}
.btn{
    text-align: center;
    width: 100%;
    flex: 1 0 140px;
    padding: 0.6rem;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.5s;
}
.num-scale{
    border-radius: 5px;
    color: #fff;
    width: 50px;
    padding: 0.6rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border: solid 2px white;
}
.btnsetting:hover{
    background: #6e6e6e;
    color: #fff;
    border: white solid 2px;
    transition: 0.5s;
    fill: white;
}
.text-setting{
    text-align: center;
    font-weight: bold;
    color: white;
}
.off{
    background: #ffa8a8;
}
.on{
    background: #b0ff9c;
}
.onn{
    background: #c23fd9;
}

.bold{
    font-weight: bold;
}
.none{
    display: none;
}
.z1{z-index: 1;}.z2{z-index: 2;}.z3{z-index: 3;}.z4{z-index: 4;}.z5{z-index: 5;}.z6{z-index: 6;}.z7{z-index: 7;}.z8{z-index: 8;}.z9{z-index: 9;} z10{z-index: 10;}

.world-bg,#world1,#worldl,#worldr{
    width: 450px;
    height: 629px;
    border-radius: 20px;
}
#world1,#worldl,#worldr,#imgchaos,#imghundred,#imgspl,#imgspr
{
    transform: translateX(-224.8px);
    user-select: none;
    pointer-events: none;
}

#divname{
    width: 450px;
    transform: translateY(577px);
}
.dualtext{
    font-family: 'ChamBold', sans-serif;
    font-size: 17pt;
    color: white;
    white-space: nowrap;
    text-align: center;
}
.maintext{
    font-family: 'ChamBold', sans-serif;
    font-size: 17pt;
    color: white;
    white-space: nowrap;
    text-align: center;
}
.textancient{
    transform: translateY(-36.2px);
    color: #fff;
    font-style: italic;
    z-index: 8;
}
.textancient2{
    transform: translateY(-12px);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    font-style: italic;
    z-index: 7;
}


#size,#size2{
    font-size: 20pt;
    color: #ffd14d;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
    white-space: nowrap;
    position: absolute;
}
.sizeancient{
    transform: scaleX(1.8);
    font-family: 'compacta', sans-serif;
    -webkit-text-stroke: 2px #000;
    text-shadow: 2px 2px 4px rgba(0, 1, 1, 1);
    z-index: 7;
    white-space: pre-wrap;
    word-break: break-word;
    white-space: nowrap;
}
.sizeancient2{
    transform: scaleX(1.8);
    font-family: 'compacta', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 1, 1, 1);
    z-index: 8;
    white-space: pre-wrap;
    word-break: break-word;
    white-space: nowrap;
}
.size_{
    width: 50px;
    transform: translate( 24px, 45px);
    height: 50px;
    z-index: 8;
}


#pcd{
    padding: 1rem;
    transform:translate(-280px,297.5px) rotate(-90deg);
    width: 630px;
}
#power,#power2{
    text-align: end !important;
    width: 100%;
}
#cri,#cri2{
    text-align: center !important;
    width: 100%;
}
#def,#def2{
    text-align: start !important;
    width: 100%;
}


/**  /==/==/==/==/==/==/==/==/  **/
/**  /==/==/  ancient  /==/==/  **/
/**  /==/==/==/==/==/==/==/==/  **/

.ancientpower,.ancientpower2,.ancientdef,.ancientdef2{
    font-family: 'compacta', sans-serif;
    font-size: 28px;
    
}
.ancientcri,.ancientcri2{
    font-family: 'compacta', sans-serif;
    font-size: 45px;
    
}
.ancientpower,.ancientpower2{
    color: #de2222;
    transform:skew(12deg) translate(-315px,-20px);
    white-space: nowrap;
    letter-spacing: 0.5px;
    
}
.ancientcri,.ancientcri2{
    color: #fff;
    transform:translate(31px,-20px);
    white-space: nowrap;
    letter-spacing: 0.5px;
}
.ancientdef,.ancientdef2{
    color: #00b3eb;
    transform:translate(380px,-20px);
    white-space: nowrap;
    font-style: italic;
    letter-spacing: 0.5px;
}
.ancientdef2,.ancientcri2,.ancientpower2{
    -webkit-text-stroke: 6px #000;
}