.div-flag-text{
    position: absolute;
    background-color: black;
    padding: 1rem;
    opacity: 0.6;
    top: 19rem;
}
.paddinglr{
    padding-left: 4.1rem;
    padding-right: 4.07rem;
}
.discord{
    width: 50px;
}