  /********************************************/
  /********************Font********************/
  /********************************************/

  @font-face {
    font-family: 'ChamBold';
    src: url('../assets/flag/590438/PSLxChamnarnBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'legendpower';
    src: url('../assets/flag/590438/legendpower.ttf') format('truetype');
  }

  @font-face {
    font-family: 'compacta';
    src: url('../assets/flag/590438/compacta_mt_bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'matura';
    src: url('../assets/flag/590438/magic power.otf') format('opentype');
  }

  /********************************************/
  /********************************************/
  /********************************************/







  /********************************************/
  /*******************media********************/
  /********************************************/

  @media (max-width: 650px) {
    #main {
      width: 640px;
      justify-content: center;
      body {
        width: 640px;
        justify-content: center;
      }
    }

  }
  @media (max-width: 649px) {
    body {
      width: 640px;
      justify-content: center;
    }

  }

  /********************************************/
  /********************************************/
  /********************************************/







  /********************************************/
  /********************************************/
  /********************************************/
  body {

    background-color: #2a2a3e;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #1e1e2e;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #1e1e2e;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #1e1e2e;
    padding:0 20px 20px 20px;
    border-radius:0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.flex-container4 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #282832;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
.input-text, .effect,.BTN,.BTN2,.BTN3 {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.input-text,.effect {
    flex: 1 0 140px;
}
.effect{
    height: 200px;
}

.BTN {
    flex: 1 0 60px;
    background-color: #ff007a;
    color: white;
    cursor: pointer;
}

.BTN:hover {
    background-color: #ff4081;
}
.BTN2 {
    flex: 1 0 60px;
    background-color: #00a2ff;
    color: white;
    cursor: pointer;
}

.BTN2:hover {
    background-color: #23aefe;
}
.BTN3 {
    flex: 1 0 60px;
    background-color: #d900ff;
    color: white;
    cursor: pointer;
}

.BTN3:hover {
    background-color: #e02fff;
}
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #3498db; /* เปลี่ยนสีของ checkbox เมื่อเลือก */
}

/* ปรับแต่งสไตล์เมื่อ checkbox ถูกเลือก */
.checkbox:checked {
  border: 2px solid #2ecc71; /* เปลี่ยนสีเส้นขอบเมื่อเลือก */
  background-color: #2ecc71; /* เปลี่ยนสีพื้นหลังเมื่อเลือก */
}

/* ปรับแต่งสไตล์เมื่อ checkbox ไม่ถูกเลือก */
.checkbox:not(:checked) {
  border: 2px solid #e74c3c; /* สีเส้นขอบเมื่อไม่เลือก */
  background-color: transparent; /* พื้นหลังโปร่งแสงเมื่อไม่เลือก */
}


  .pv {
    flex-direction: column;
  }
 #main{
  justify-content:center;
 }
  .main_ {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    user-select: none;
    pointer-events: none;
  }

  .img_ {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    width: 450px;
    height: 629px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  #chaos,
  #hundred {
    min-width: 450px;
    max-width: 450px;
    min-height: 629px;
    max-height: 629px;
    user-select: none;
    pointer-events: none;
    border-radius: 20px;
  }

  .chaoscheckcss,
  .hundemoncheckcss {
    width: 25px;
    height: 25px;
  }

  .none {
    display: none;
  }

  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .imh {

    width: .1;
    height: .1;
  }

  .in {
    overflow: hidden;
    width: 450px;
    height: 629px;
  }

  #worlds {
    position: absolute;
    height: 629px;
    min-width: 450px;
    border-radius: 20px;
    user-select: none;
    pointer-events: none;
  }

  .dpim {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 629px;
    width: 450px;
    user-select: none;
    pointer-events: none;

  }

  .absolute {
    position: absolute;
    pointer-events: none;
  }

  #legendnameinput,
  #legendattinput,
  #dangernameinput,
  #dangerattinput {
    width: 17.3rem;
  }

  .z0 {
    z-index: 0;
  }

  .z1 {
    z-index: 1;
  }

  .z2 {
    z-index: 2;
  }

  .z3 {
    z-index: 3;
  }

  .z4 {
    z-index: 4;
  }
  .z7{
    z-index: 7;
  }
  .z8{
    z-index: 8;
  }
  .btn{
    height: 50px;
    width: 80px;
  }
  #teb{
    width: 520px;
    height: 200px;
  }
.textbox_{
  pointer-events: none;
}

  .nub,.se_{
    height: 429px;
    width: 450px;
    display: flex;
    justify-content: center;
  }
  .nub,.se{
    width: 100%;
    font-family: 'ChamBold', sans-serif;
  font-size: 16px;
  text-align: justify;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  align-self: flex-end;
  line-height: 20px;
  user-select: none;
    pointer-events: none;
  }
  .nub{
    position: absolute;
    width: 450px;
  }
  .se{
    width: 100%;
  }
  #addline{
    width: 496px;
    white-space: nowrap;

  }
  .image-wrapper {
    display: inline-block;
    vertical-align: middle;
}


#se {
    white-space: pre-wrap;
    word-break: break-word;
    white-space: nowrap;
  }
  #se p {
    white-space: pre-wrap; 
}
.textbox{
  width: 450px;
  height: 629px;

}
  /********************************************/
  /********************************************/
  /********************************************/






  /********************************************/
  /******************Keywords******************/
  /********************************************/
  .Iskill{
    height:20px;
    width: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align:bottom;
    transform: translate(0, -2px) scaleX(1.2);
    margin-right: 5px;
    top:0; 
    left:0;
  }
  .Iskill2{
    height:22px;
    width: 82px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align:bottom;
    transform: translate(0, -2px) scaleX(1.2);
    margin-right: 5px;
    top:0; 
    left:0;
  }
  .nctext{
    height:10px;
    width: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align:bottom;
    transform: translate(0, -2px);
    margin-right: 5px;
    top:0; 
    left:0;
    }
    .skk{
    vertical-align:bottom;
    font-style: bold;
    }
    .skk2{
      vertical-align:middle;
      margin-left: -7px;
      }


  /********************************************/
  /********************************************/
  /********************************************/
  .effect-legend{
    transform: translate(0, -114px) scaleX(0.8);
  }
  .effect-dungeon {
    transform: translate(30px, -134px) scaleX(0.8);
  }
  .effect-darkness{
    transform: translate(0px, -110px) scaleX(0.8);
  }
  .effect-danger{
    transform: translate(10px, -120px) scaleX(0.8);
  }




  /********************************************/
  /********************Danger******************/
  /********************************************/
  .Mdangerpower,.Mdangerpowercopy,.Mdangercri,.Mdangercricopy,.Mdangerdef,.Mdangerdefcopy
  {
    font-family: 'compacta', sans-serif;
  }

  .Mdangerpower,.Mdangerpowercopy {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 30px;
    transform: translate(-201px, -45px) rotate(-90deg);
    color: #de2222;
    white-space: nowrap;
    text-align: start;
    font-style: italic;
    letter-spacing: 0.5px;

  }
  .Mdangerdef,.Mdangerdefcopy {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-205px, -201px) rotate(-90deg);
    color: #00b3eb;
    white-space: nowrap;
    text-align: start;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  .Mdangercri,.Mdangercricopy{
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 42px;
    transform: translate(-210px, -43px) rotate(-90deg);
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.5px;
  }

  .Mdangerpowercopy,.Mdangercricopy,.Mdangerdefcopy {
    color: #000000;
    -webkit-text-stroke: 6px #000;
    z-index: 7;
  }
  .dangeratt {
    transform: translate(-104px, 223px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    font-size: 13pt;
  }
  .dangername,.dangernamecopy {
    transform: translate(60px, 274px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    color: #c41916;
    font-size: 20pt;
  }
  .dangernamecopy{
    color: #000000;
    -webkit-text-stroke: 3px #000;
    z-index: 3;
  }
  /********************************************/
  /********************************************/
  /********************************************/









  /********************************************/
  /********************Legend******************/
  /********************************************/
  .Mlegendpower,.Mlegendpowercopy,.Mlegenddef,.Mlegenddefcopy,.Mlegendcri,.Mlegendcricopy 
  {
    font-family: 'legendpower', sans-serif;
  }

  .Mlegendpower,.Mlegendpowercopy {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-192.5px, 80px) rotate(-90deg);
    color: #de2222;
    white-space: nowrap;
    text-align: end;
    font-style: italic;
    letter-spacing: -1px;
  }

  .Mlegenddef,
  .Mlegenddefcopy {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-192.5px, -180px) rotate(-90deg);
    color: #00b3eb;
    white-space: nowrap;
    text-align: start;
    font-style: italic;
    letter-spacing: -1px;
  }

  .Mlegendcri,
  .Mlegendcricopy {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 42px;
    transform: translate(-201.5px, -50px) rotate(-90deg);
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    font-style: italic;
    letter-spacing: -1px;

  }

  .Mlegendpowercopy,
  .Mlegenddefcopy,
  .Mlegendcricopy {
    color: #000000;
    -webkit-text-stroke: 6px #000;
    z-index: 7;
  }

  .legendname {
    z-index: 4;
  }

  .legendnamecopy {
    color: #e5c86a;
    -webkit-text-stroke: 2px #e5c86a;
    transform: translate(0, 274px) scaleX(1);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    font-size: 17pt;
    z-index: 3;
  }

  .legendname {
    transform: translate(0, 274px) scaleX(1);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    font-size: 17pt;
  }

  .legendatt {
    transform: translate(-124px, 224px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 13pt;
    white-space: nowrap;
  }

  .legendW {
    transform: translate(-89px, 245.5px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    font-size: 13pt;
  }











  /********************************************/
  /*****************Dungron********************/
  /********************************************/

  
  .Mdungeonpowercopy,.Mdungeondefcopy, .Mdungeoncricopy{
    color: #000000;
    -webkit-text-stroke: 4px #000;
    z-index: 7;
  }
  
  .Mdungeonpower, .Mdungeonpowercopy, .Mdungeoncri, .Mdungeoncricopy, .Mdungeondef, .Mdungeondefcopy
  {
    font-family: 'matura', sans-serif;
  }


  .Mdungeonpowercopy  {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-186.5px, 63px) scaleY(0.8) rotate(-90deg);
    color: #de2222;
    white-space: nowrap;
    text-align: end;
    letter-spacing: 0.5px;
    z-index: 7;
  }
  .Mdungeonpower  {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-186.5px, 63px) scaleY(0.8) rotate(-90deg);
    color: #de2222;
    white-space: nowrap;
    text-align: end;
    letter-spacing: 0.5px;
    z-index: 8;
  }
  .Mdungeondef,
  .Mdungeondefcopy
  {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-186.5px, -166.15px) scaleY(0.8) rotate(-90deg);
    color: #00b3eb;
    white-space: nowrap;
    text-align: start;
    letter-spacing: 0.5px;
  
  }
  .Mdungeoncri,
  .Mdungeoncricopy
  {
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 42px;
    transform: translate(-191px, -50px) rotate(-90deg);
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    letter-spacing: -1px;
  }
  .dungeonatt {
    transform: translate(-48px, 213px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    color: #362513;
    text-align: center;
    white-space: nowrap;
    font-size: 13pt;
  }
  .dungeonname,.Mdungeoncri,.Mdungeondef,.Mlegendcri,.Mlegenddef,.Mlegendpower,.Mdangercri,.Mdangerdef,.Mdangerpower
  {
    z-index: 8;
  }
  .dungeonname, .dungeonnamecopy{
    transform: translate(0px, 265px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    color: #362513;
    font-size: 20pt;
  }
  .dungeonnamecopy{
    color: #fff;
    -webkit-text-stroke: 3px #fff;
    z-index: 7;
  }


  .dragonpower, .dragonpowercopy,.dragoncri,.dragoncricopy,.dragondef,.dragondefcopy
  {
    font-family: 'compacta', sans-serif;
  }
  .dragonpower, .dragonpowercopy{
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-202px, 65px) scaleY(0.8) rotate(-90deg);
    color: #de2222;
    white-space: nowrap;
    font-style: italic;
    text-align: end;
    letter-spacing: 0.5px;
  }
  .dragondef,.dragondefcopy{
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 35px;
    transform: translate(-202px, -152px) scaleY(0.8) rotate(-90deg);
    color: #00b3eb;
    white-space: nowrap;
    font-style: italic;
    text-align: start;
    letter-spacing: 0.5px;
  }
  .dragoncri,.dragoncricopy{
    position: absolute;
    height: 32px;
    width: 200px;
    font-size: 42px;
    transform: translate(-203px, -41px) rotate(-90deg);
    color: #ffffff;
    font-style: italic;
    white-space: nowrap;
    text-align: center;
    letter-spacing: -1px;
  }
  .dragonpower,.dragoncri,.dragondef,.dragonname
  {
    z-index: 8;
  }
  .dragonpowercopy,.dragoncricopy,.dragondefcopy
  {
    color: #000000;
    -webkit-text-stroke: 5px #000;
    z-index: 7;
  }
  .dragonatt {
    transform: translate(-110px, 231px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 13pt;
  }
  .dragonname,.dragonnamecopy{
    transform: translate(50px, 271px);
    font-family: 'ChamBold', sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 20pt;
  }
  .dragonname{
    z-index: 8;
  }
  .dragonnamecopy{
    
      color: #000000;
      -webkit-text-stroke: 3px #000;
      z-index: 7;
    
  }